<div>
  <h4>Reply to this Question</h4>
  <form class="form-text">
    <label for="author">Your Name</label>
    {{input value=author id="author"}}
    <label for="answer">Your Answer</label>
    {{input value=answer id="answer"}}
    <br>
    <br>
    <button class="btn btn-success" {{action 'saveAnswer' answer}}>Submit</button>
  </form>
</div>
