header {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  font-family: 'Fjalla One', sans-serif;
  color: black;
  text-align: center;
  font-size: 30pt;
  height: 70px;
  margin-bottom: 100px;
}

img {
  height: 70%;
}

.navbar {
  text-align: center;
}

.bordered {
  border-style: groove;
  border-radius: 5px;
  padding: 15px;
}

body {
  padding-top: 50px;
  color: white;
  background-color: black;
  background-image: url("http://img.gawkerassets.com/img/18j80bobq8m76jpg/original.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14pt;
  font-family: 'Fjalla One', sans-serif;
}

.navbar {
  background-image: url("https://c1.staticflickr.com/5/4026/4465346252_3bbdbcf6a5_b.jpg");
  font-family: fantasy;
  font-size: 24pt;
  color: red;
}

#main_container {
  padding: 30px;
  border-style: double;
  opacity: 0.8;
  border-radius: 10px;
  padding-left: 100px;
  background-color: black;
}

#inventory_div {
  padding: 30px;
  border-style: double;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 50px;
  background-color: black;
}

#log_div {
  padding: 30px;
  border-style: double;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 50px;
  background-color: black;
}

#link-to {
  color: red;
}

.form-text {
  color: black;
}

label {
  color: white;
}

.color-red {
  color: red;
  text-shadow: 2px 2px orange;
}

.color-blue {
  color: #81ebe9;
  text-shadow: 2px 2px black;
}

#small-font {
  font-size: 10pt;
  font-style: italic;
}

@font-face {
    font-family: 'DIABLO_L';
    src: url('fonts/DIABLO_L.TTF');
}

#div_scroll {
  font-family: sans-serif;
  font-size: 14px;
  height: 200px;
  overflow-y: scroll;

}
