<header>
  <p>The Tavern of Inquisition</p>
  <img src="http://i1210.photobucket.com/albums/cc405/DDN16/e0af5518.png">
</header>

{{outlet}}

<footer>
<div class="footer_div">
  <nav class="navbar navbar-default navbar-fixed-bottom">
      <p>{{#link-to 'index'}}Home{{/link-to}}</p>
  </nav>
</div>
</footer>
