<header>
  <h1>The Tavern of Inquisition</h1>
</header>

{{outlet}}

<footer>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav nav-pills">
      <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </nav>
</footer>
