<div class="container">
  <div class="row">
    <div class="col-xs-5" id="main_container">
      <h3>Questions</h3>
      {{#each model.questions as |question|}}
        {{questions-tile question=question answer=question.answer}}
      {{/each}}
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-5" id="main_container">
      <h3>Answers</h3>
      {{#each model.answers as |answer|}}
        {{answers-tile question=answer.question answer=answer}}
      {{/each}}
    </div>
  </div>

</div>
