<div class="container">
  <h2>Welcome adventurer, leave a question for the answers that you seek.</h2>
  <div class="row">
    <div class="col-md-6">
      {{question-add save="save"}}
    </div>
    <div class="col-md-2">
      {{#each model.questions as |question|}}
        {{question-display question=question}}
      {{/each}}
    </div>


  </div>


</div>
