<div class="container">
  <h2>Welcome adventurer, leave a question for the answers that you seek.</h2>
  <div>


      {{#each model.questions as |question|}}
        {{question-display question=question}}
      {{/each}}

  </div>


</div>
