<div class="container">
  <h2>Welcome adventurer, leave a question for the answers that you seek.</h2>
  <div class="row">
    <div class="col-md-2">
      {{question-add saveQuestion="saveQuestion"}}
    </div>
    <div class="col-xs-6">
      <ul>
      {{#each model.questions as |question|}}
        {{question-display question=question}}
      {{/each}}
      </ul>
    </div>
  </div>
</div>
