<div class="container container_bg" id="main_container">
  <h2>Welcome adventurer, leave a question for the answers that you seek.</h2>
  <div class="row">
    <div class="col-xs-4">
      {{question-add saveQuestion="saveQuestion"}}
    </div>
    <div class="col-xs-6">
      <ul>
      <h4>Questions:</h4>
      {{#each model.questions as |question|}}
        {{question-display question=question answer=answer}}
      {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="container" id="inventory_div">
  <h2>Suspects</h2>
  {{display-list answer=answer}}
</div>
