<div class="container" id="main_container">
  <h2>Welcome adventurer, leave a question for the answers that you seek.</h2>
  <div class="row">
    <div class="col-xs-4">
      {{question-add saveQuestion="saveQuestion"}}
    </div>
    <div class="col-xs-6">
      <ul>
      <h4>Questions:</h4>
      {{#each model.questions as |question|}}
        {{question-display question=question answer=answer}}
      {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-5" id="inventory_div">
      <h3>Party</h3>
      <br>
      {{display-list answer=answer}}
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-6" id="log_div">
      <h3>Log</h3>
      <br>
      <div id="div_scroll">
        {{#each model.answers as |answer|}}
          {{action-list question=answer.question answer=answer}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="container" id="store_div">
  <h3>Store</h3>
</div>
